@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .button {
    @apply py-2 px-6 bg-main text-white font-semibold rounded disabled:bg-gray-400 
    flex justify-center items-center gap-1
  }

  .button-outline {
    @apply py-2 px-6 bg-white text-main border border-main font-semibold rounded disabled:bg-gray-400
    flex justify-center items-center gap-1
  }

  .button-small {
    @apply py-1 px-3 bg-main text-white text-sm font-semibold rounded disabled:bg-gray-400
    flex justify-center items-center gap-0.5
  }

  .button-small-outline {
    @apply py-1 px-2 bg-white text-main text-sm border border-main font-semibold rounded disabled:bg-gray-400
    flex justify-center items-center gap-0.5
  }

  .input {
    @apply w-full py-1 px-2 rounded-md focus-within:outline-2 
    focus-within:outline-main resize-y bg-white border border-main
  }

  .link {
    @apply underline text-gray-700 cursor-pointer
  }

  .checkbox {
    @apply w-4 h-4 accent-main
  }
} */

/* .chat .chat-bubble::before {
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMycgaGVpZ2h0PSczJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnPjxwYXRoIGZpbGw9J2JsYWNrJyBkPSdtIDAgMyBMIDMgMyBMIDMgMCBDIDMgMSAxIDMgMCAzJy8+PC9zdmc+);
} */

.chat-typing {
  position: relative;
  align-items: center;
  display: flex;
  height: 100%;
  transition: opacity 0.1s;
  display: inline-block;
  top: -4px;
  padding-right: 10px;
}

.chat-typing-dot {
  display: inline-block;
  animation: typing-dot 0.8s linear infinite;
  background: #999;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin-left: 10px;
  width: 8px;
}

/* @keyframes typing-dot {
  0% {
    transform: scale(0.57);
  }

  25% {
    transform: scale(0.78);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0.78);
  }

  to {
    transform: scale(0.57);
  }
} */

/* .capture-guide-1 {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: 1px dashed gray;
}
.capture-guide-2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 1px dashed gray;
}
.capture-guide-3 {
  z-index: 2147483646;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.capture-box {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483645;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 50000px;
  border-width: 1px;
  border-style: dotted;
  border-color: gray;
  border-image: initial;
} */

.dropdown:not(.dropdown-hover):focus .dropdown-content.ask-list-dropdown,
.dropdown:not(.dropdown-hover):focus-within
  .dropdown-content.ask-list-dropdown {
  visibility: hidden !important;
  opacity: 0 !important;
}
